* {
    box-sizing: border-box;
}

body {
    max-width: 1280px;
    margin: auto;
    background-color: #f0f0f0;
    background-image: url("./images/backgroundsmall.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

header {
    text-align: center;
    margin: 0 50px;
}

header img {
    width: 100%;
}

header h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #222222;
}

nav {
    text-align: center;
    background-color: #222222;
    background-repeat: no-repeat;
    background-size: 100%;
    border-top: solid 3px #00c7f9;
    border-bottom: solid 3px #00c7f9;
    padding: 5px;
    margin: 0 50px;
}

nav span {
    padding: 0 50px;
    color: #f30d3f;
    font-family: 'Kanit';
    font-size: 20px;
    font-weight: bold;
}

nav a {
    color: #00c7f9;
}

nav a:hover {
    color: #f30d3f;
}

h2 {
    font-family: 'Kanit', sans-serif;
    color: #00c7f9;
}

h3 {
    margin-top: 50px;
}

.center {
    text-align: center;
}

body main {
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    color:#222222;
    margin: 25px 50px 0;
}

.Racedirector {
    color: #f30d3f;
}

.RaceDirector_pics {
    height: 200px;
    display: inline-block;
}

footer {
    text-align: center;
    font-family: 'kanit', sans-serif;
    margin-top: 50px;
}

.poster {
    max-width: 75%;
    height: auto;
}

.container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}